@import "base.less";

#wrapper-carousel{
  font-size: 0;
  margin-top: 30px;
  margin-bottom: 46px;

    img{
      max-width: 100%;
      text-align: right;
    }

    .carousel-banner2{
      margin:0 30px 0 30px;
    }

    .carousel-banner1,
    .carousel-banner2,
    .carousel-banner3 {
      display: inline-block;
      width: 270px;
    }

    .slick-dots {
      bottom: -18px;
      left: 1px;
    }

    .slick-dots li {
      height: 8px;
      width: 8px;
    }

    .slick-dots li button {
      height: 8px;
      width: 8px;
    }

    .slick-dots li.slick-active button:before {
      opacity: 1;
      background-color: #485258;
    }

    .slick-dots li button:before {
      line-height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 8px;
      height: 8px;
      content: '';
      text-align: center;
      opacity: 1;
      background-color:#dadada;
    }

}










@media screen and(max-width:1190px) {
  #wrapper-carousel .carousel-banner2{
    margin:0 0 0 0;
  }
  #wrapper-carousel .carousel-banner1,
  #wrapper-carousel .carousel-banner2,
  #wrapper-carousel .carousel-banner3 {
    display: inline-block;
    width: 33.3%;
    text-align: center;
  }
}





@media screen and(max-width:850px) {
  .wrapper-carousel{
    //padding: 0 10px;
  }

  .carousel-banner1, .carousel-banner2, .carousel-banner3 {
    display: inline-block;
    width: 33.3%;
    text-align: center;

  }
}